<a href="https://colab.research.google.com/github/Rakesh-025/Rakesh-025/blob/main/Python__Jupyter_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
alist = [123,"ans","2waj"]
blist = [423,"ARtua", "hsdgs"]

In [ ]:
alist

[123, 'ans', '2waj']

In [ ]:
alist.extend(blist)
alist

[123,
 'ans',
 '2waj',
 423,
 'ARtua',
 'hsdgs',
 423,
 'ARtua',
 'hsdgs',
 [423, 'ARtua', 'hsdgs'],
 423,
 'ARtua',
 'hsdgs']

In [ ]:
alist.append(blist)

In [ ]:
alist.pop()
alist

[123,
 'ans',
 '2waj',
 423,
 'ARtua',
 'hsdgs',
 423,
 'ARtua',
 'hsdgs',
 [423, 'ARtua', 'hsdgs'],
 423,
 'ARtua']

In [ ]:
alist.remove(423)
alist

[123,
 'ans',
 '2waj',
 'ARtua',
 'hsdgs',
 'ARtua',
 'hsdgs',
 [423, 'ARtua', 'hsdgs'],
 423,
 'ARtua']

In [ ]:
Insert.alist(3,423)

NameError: name 'Insert' is not defined

In [ ]:
alist.insert(3,423)
alist

[123,
 'ans',
 '2waj',
 423,
 423,
 'ARtua',
 'hsdgs',
 'ARtua',
 'hsdgs',
 [423, 'ARtua', 'hsdgs'],
 423,
 'ARtua']

alist.reverse()
alist
print(alist)

In [ ]:
print(alist)
alist.reverse()
alist
print(alist)

['ARtua', 423, [423, 'ARtua', 'hsdgs'], 'hsdgs', 'ARtua', 'hsdgs', 'ARtua', 423, 423, '2waj', 'ans', 123]
[123, 'ans', '2waj', 423, 423, 'ARtua', 'hsdgs', 'ARtua', 'hsdgs', [423, 'ARtua', 'hsdgs'], 423, 'ARtua']

In [ ]:
clist = [2,4,1,6,3]
clist.sort(reverse = True)
print(clist)

[6, 4, 3, 2, 1]

In [ ]:
clist

[6, 4, 3, 2, 1]

In [ ]:
sorted_list = sorted(clist)
sorted_list
print(sorted_list)

[1, 2, 3, 4, 6]

In [ ]:
print(clist.count())

TypeError: list.count() takes exactly one argument (0 given)

In [ ]:
clist

[6, 4, 3, 2, 1]

In [ ]:
count.clist()

NameError: name 'count' is not defined

In [ ]:
clist.count(1)

1

In [ ]:
clist

[6, 4, 3, 2, 1]

In [ ]:
dlist = [5,2,8,5,1,2,85,5]
dlist.count(5)

3

In [ ]:
dlist.index(1)

4

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
dlist.sort()
print(max(dlist))
print(min(dlist))
print(len(dlist))

85
1
8

In [ ]:
dlist.sort()
dlist

[1, 2, 2, 5, 5, 5, 8, 85]

In [ ]:
ds = ['adc','sdfj','sf','qsdhf']
print(sorted(ds, key = len))

['sf', 'adc', 'sdfj', 'qsdhf']

In [ ]:
ds = ['adc','sdfj','sf','qsdhf']

def fun1(l):
    
    return l[-1]
fun1(ds)

'qsdhf'

In [ ]:
ds = ['adc','sdfj','sf','qsdhf']
print(sorted(ds))

['adc', 'qsdhf', 'sdfj', 'sf']

In [ ]:
print(sorted(ds, key = fun1))

['adc', 'sf', 'qsdhf', 'sdfj']

In [ ]:
###########################   TUPLES    ######################################################

tup1 = ('cbd','hbsd', 5312)
tup2 = (1,2,3,4,5)
tup1
tup2

(1, 2, 3, 4, 5)

In [ ]:
id(tup1)

1806764035840

In [ ]:
tup3 = (32,)
tup3

(32,)

In [ ]:
type(tup3)

tuple

In [ ]:

tup1 = ('cbd','hbsd', 5312)

tup2 = (1,2,3,4,5)

print(tup1[-2])

print(tup2[1:4])

hbsd
(2, 3, 4)

help(tuple)

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
##########   SETS AND FROZEN SETS ##################

NORM = set(['A','S','C','A'])
NORM

{'A', 'C', 'S'}

NORM.add("D")
PRINT(NORM)

In [ ]:
NORM.add("D") 
print(NORM)

{'S', 'A', 'D', 'C'}

In [ ]:
froze = frozenset(['e','g','h'])
froze

frozenset({'e', 'g', 'h'})

In [ ]:
froze.add("J")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#########  sets operations ##########

set1 = set()
set2 = set()

print(set1,set2)

set() set()

In [ ]:
for i in range(1,10):
    set1.add(i)
    
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
for i in range(3,10):
    set2.add(i)
    
set2

{3, 4, 5, 6, 7, 8, 9}

In [ ]:
set3 = set1 | set2

In [ ]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set4 = set1 & set2
set4

{3, 4, 5, 6, 7, 8, 9}

set4 = set1.intersection(set2)
set4

In [ ]:
print(set4)

{3, 4, 5, 6, 7, 8, 9}

In [ ]:
if set3 > set4:
    print("set3 is superset of set4")
elif set3< set4:
    print("set3 is subset of set4")
else :
    print("set3 is same as set4")

set3 is superset of set4

In [ ]:
set5 = set([1,2])
set5

{1, 2}

In [ ]:
if set5.isdisjoint(set4):
    print("s")

s

In [ ]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
################ to create the dictionary ##################

dict1 = {"name":"Raki","age":"23"}
print(dict1)
print(dict1["name"])
print(dict1["age"])

{'name': 'Raki', 'age': '23'}
Raki
23

In [ ]:
###########    to update the values #########
dict1 = {"name":"Raki","age":"23"}
dict1['age'] = 24
dict1

{'name': 'Raki', 'age': 24}

In [ ]:
dict1["Bike"]="Apache"
dict1

{'name': 'Raki', 'age': 24, 'Bike': 'Apache'}

In [ ]:
###   to add a new entry #########
dict1 ["sal"] = "25k"
dict1

{'name': 'Raki', 'age': 24, 'Bike': 'Apache', 'sal': '25k'}

In [ ]:
#### to delete the key

del(dict1['name'])
dict1

{'age': 24, 'Bike': 'Apache', 'sal': '25k'}

In [ ]:
######## to delete the entire dictionary

dict1.clear()

In [ ]:
dict1

{}

In [ ]:

dict1 = {"name":"Raki","age":"23"}


dict1.items()

dict_items([('name', 'Raki'), ('age', '23')])

In [ ]:
dict1.keys()

dict_keys(['name', 'age'])

In [ ]:
dict1.values()

dict_values(['Raki', '23'])

In [ ]:
x = dict1.items()
type(x)

dict_items

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If key is not found, default is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
###################    STRINGS    #########################################
Name = "Python"

print(Name[0])
print(Name[4])

P
o

In [ ]:
Name[3]

'h'

In [ ]:
Name[1:5]

'ytho'

In [ ]:
print(Name[:-4])

Py

In [ ]:
print(Name[-4:])

thon

In [ ]:
print(Name[-1])

print(Name[-4:-1])

n
tho

In [ ]:
print (Name *3)

PythonPythonPython

In [ ]:
print (Name + ' ' + "Test")  ## concatinating

Python Test

In [ ]:
a = 'hi'
print(a)
print(len(a))

hi
2

In [ ]:
sa = " the best language"
print (sa[::1])
print (sa[::2])
print (sa[::3])
print (sa[5::2])

 the best language
 h etlnug
 ee na
bs agae

In [ ]:
sa[::-1]   #### to reverse the strings or  sentence

'egaugnal tseb eht '

In [ ]:
var = 'Hello World!  '
print("updated Hello world :- ",var + "Python")
print("updated Hello world :- ",var[:6] + "Python")

updated Hello world :-  Hello World!  Python
updated Hello world :-  Hello Python

string = "This is Python"
str = list(string)
print(str)

In [ ]:
string = "This is Python"
str = list(string)
print(str)

['(', 'T', 'h', 'i', 's', ')', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [ ]:
###########          String Formatting     ###########
format = '%.2f  %s is $%d'
format % (6.4561,"python prasad",1)

'6.46  python prasad is $1'

In [ ]:
statement = """ my name is "Prassad" and my age is "34"."""
print(statement)
type(statement)

 my name is "Prassad" and my age is "34".

str

In [ ]:
name =  "PYthON"
print(type(name))
## to make first letter capitalize
print(name.capitalize())

print(name.upper())
print(name.lower())
print(name.swapcase())

<class 'str'>
Python
PYTHON
python
pyTHon

In [ ]:
###    to make the string at given spaces    ############
name.center(50)

'                      PYthON                      '

In [ ]:
#######      to remove the unwanted space    #################
name.strip()

'PYthON'

In [ ]:
#######      to remove the leftside  unwanted space    #################
name = '                      PYthON                      '
name.lstrip()

'PYthON                      '

In [ ]:
#######      to remove the rightside  unwanted space    #################
name = '                      PYthON                      '
name.rstrip()

'                      PYthON'

In [ ]:
########   count() method returns the no. of ocurences of the substring in the given string

num = " prasad is a python programmer"
substring = "p"

count = num.count(substring)
print(count)

3

In [ ]:
  ########   count() method returns the no. of ocurences of the substring in the given string using start and end
count = num.count(substring,8,25)
count

2

In [ ]:
####b   returns True if the string has  1character and all characters are alphanumeric and false otherwise

asg = "thisis23"  ##   no space in this string
print(type(asg))
print(asg.isalnum())

<class 'str'>
True

In [ ]:
ns = "vcsbjdc"
print(ns.isalpha())

True

In [ ]:
hdc = "56156278"
print(hdc.isdigit())

True

In [ ]:
#########      replace method()     ##########

w = "iit is very good this was paris is is is is misss"
print(w.replace("is","was"))

iit was very good thwas was parwas was was was was kwasss

In [ ]:
print(w.replace("is","was", 4))

iit was very good thwas was parwas was is is is kisss

In [ ]:
print(":".join(w))

i:i:t: :i:s: :v:e:r:y: :g:o:o:d: :t:h:i:s: :w:a:s: :p:a:r:i:s: :i:s: :i:s: :i:s: :i:s: :k:i:s:s:s

In [ ]:
##########      split method()     ###########
dv = "this is rakesh oshd"
print(dv.split())

['this', 'is', 'rakesh', 'oshd']

In [ ]:
print(dv.split(' ', 2))

['this', 'is', 'rakesh oshd']

In [ ]:
fb = "vsdb fh dfsg vbh :  1.574734"
ko = fb.find(":")
print(ko)
print ("##############")
rg = float(fb[ko + 1 :])
print(rg)
type(rg)

17
##############
1.574734

float

In [ ]:
#########  swap the values of two variables    ###################
x = 2; y = 3
print(x,y)

tmp = x
x = y
y = tmp

x,y

2 3

(3, 2)

In [ ]:
x = 2; y = 3
print(x,y)

2 3

In [ ]:
(x,y) = (y,x)
x,y

(3, 2)

In [ ]:
a  = list(input("enter the value: "))
print(a)
print(len(a))

enter the value: 123456
['1', '2', '3', '4', '5', '6']
6

In [ ]:
for i in range (1,len(a),1):
    print(a[i: ] + a[ : i])

['2', '3', '4', '5', '6', '1']
['3', '4', '5', '6', '1', '2']
['4', '5', '6', '1', '2', '3']
['5', '6', '1', '2', '3', '4']
['6', '1', '2', '3', '4', '5']

In [ ]:
for i in range (1,len(a),1):
    print(a[i: 1] + a[ : i])

['1']
['1', '2']
['1', '2', '3']
['1', '2', '3', '4']
['1', '2', '3', '4', '5']

In [ ]:
for i in range (1,len(a),1):
    print(a[i: 6] )

['2', '3', '4', '5', '6']
['3', '4', '5', '6']
['4', '5', '6']
['5', '6']
['6']

In [ ]:
import math

###   record the datapoints
x1 = int(input("enter x1 :"))
y1 = int(input("enter y1 :"))
print( x1,y1)

enter x1 :2
enter y1 :3
2 3

In [ ]:
###   record the datapoints
x2 = int(input("enter x2 :"))
y2 = int(input("enter y2 :"))
print( x2,y2)

enter x2 :4
enter y2 :5
4 5

In [ ]:
##    distance between 2 datapoints on x-y plain
##  Euclidean distance method
distance = math.sqrt(((x2 - x1)**2) + ((y2 - y1)**2))
print(distance)

2.8284271247461903

In [ ]:
#######    conditional statements ##########

w = 23

if w >= 20 :
  print("ifg")

ifg

In [ ]:
w = 25
if w <= 20 :
  print(w)
print(30)

30

In [ ]:
x = 2
y = 25
print(x)

if x <= 8:
  print(x)
print(y)

2
2
25

In [ ]:
####    if and else conditions when u have two conditions

is_male = False

if is_male :
  print("you rae male")
else:
  print("you rae female")

you rae female

In [ ]:
a = 20

if a <= 15 :
  print("if")
  print("one more statement")
elif a >= 25 :
  print("elif")
else:
  print("else")

else

In [ ]:
##    if u have more than two conditions use the elif

is_male = True
is_tall = False

if is_male and is_tall :
  print("you are tall male")
elif is_male and not (is_tall) :
  print("you rae short male")
elif not(is_male) and is_tall :
  print("you are not male but tall")
else:
  print("you rae not male and not tall")

you rae short male

In [ ]:
##     condition inside a consditional statements
score = 500
money = 6000
age = 35

if score >= 100 :
  print("you have good points")
  if money >= 5000 :
    print("you win")
    if age >= 30 :
      print("ypu win in middle age")
    else:
      print("you win young age")
  else:
    print("you have high points but not have enough money")
else:
  print("you are loser")

you have good points
you win
you win young age

In [ ]:
##   testing for an element in list using if statement

list = ["ajay",'ramesh']
if "ramesh" in list:
  print("found ramesh")

found ramesh

In [ ]:
##      for loops   ####
snacks = ["burger","shawarma","pasta", "pizza"]

for i in snacks:
  print("current snack :",i)

current snack : burger
current snack : shawarma
current snack : pasta
current snack : pizza

In [ ]:
range(0,5)

range(0, 5)

In [ ]:
a = list(range(0,15))
a

TypeError: ignored

In [ ]:
range(1,5,1)

range(1, 5)

In [ ]:
for i in range (1,6,2):
  print(i)

1
3
5

In [ ]:
for i in range(1,15):
  print("20 hours class of day :",i)

20 hours class of day : 1
20 hours class of day : 2
20 hours class of day : 3
20 hours class of day : 4
20 hours class of day : 5
20 hours class of day : 6
20 hours class of day : 7
20 hours class of day : 8
20 hours class of day : 9
20 hours class of day : 10
20 hours class of day : 11
20 hours class of day : 12
20 hours class of day : 13
20 hours class of day : 14

In [ ]:
## returns the even number (without applying any condition)

for i in range (0,15,2):
  print("even numbers are",i)

even numbers are 0
even numbers are 2
even numbers are 4
even numbers are 6
even numbers are 8
even numbers are 10
even numbers are 12
even numbers are 14

In [ ]:
## traversing a list    #####
nums = [2,3,5]
sum = 0
for i in nums:
  sum = sum + i
print(sum)

10
10

In [ ]:
dh = [2,3,5]
getsum = [i + 2 for i in dh]
print(getsum)

[4, 5, 7]

In [ ]:
dh = [2,3,5]
getsum = [i + 2 for i in dh if i <5]
print(getsum)

[4, 5]

In [ ]:
##    Nested 'for' loop (for loop inside a conditional statement)
num = int(input("number is "))
factorial = 1
if num < 0:
  print("must be postive")
elif num == 0:
  print("factorial is 1")
else:
  for i in range(1,num + 1):
    factorial = factorial * i
  print("factorial :",factorial)

number is 0
factorial is 1

In [ ]:
#####     PASS #########
##### execute without doing anything   #####
NAME = ["raki","aksha","sanjay"]
for i  in NAME:
   pass

In [ ]:
##########     CONTINUE      ##########
######   skip when condition is satisfied   #####
NAME = ["raki","ram","aksha","sanjay"]
for i in NAME:
  if len(i) == 3:
    continue
  print("My name is",i)

My name is raki
My name is aksha
My name is sanjay

In [ ]:
##########   BREAK ##########
###  GET OUT OF LOOP WHEN CONDITION IS SATISFIED    ###
NAME = ["raki","ram","aksha","sanjay"]
for i in NAME:
  if len(i) == 3:
    break
  print(f"My name is {i}")

My name is raki

In [ ]:
for i in range (1,10):
  if i == 5:
    break
  print(i)
print("Done")

1
2
3
4
Done

In [ ]:
#######      For else    #####################
#   if the else statement is used with a for loop, the else block is executed onlyif "for" loop terminates normally ( not by encountering the break statement)

number = [1,3,5,7,9,11,33,87,45]
for i in number:
  if i % 2 == 0:
    print("the list contains even numbers")
    break
else:
  print("this list doesnot contains even numbers")

this list doesnot contains even numbers

In [ ]:
#####   enumerating the objects of a list with sequential numbers  #########
NAME = ["raki","ram","aksha","sanjay"]
list(enumerate(NAME))

[(0, 'raki'), (1, 'ram'), (2, 'aksha'), (3, 'sanjay')]

In [ ]:
NAME = ["raki","ram","aksha","sanjay"]

for i,j in enumerate(NAME):
  print("Index is {0} and Value of index is{1}".format (i,j))

Index is 0 and Value of index israki
Index is 1 and Value of index isram
Index is 2 and Value of index isaksha
Index is 3 and Value of index issanjay

In [ ]:
for i in range (1,25):
  print(i)

In [ ]:
 #############       While Loop    ################
i = 0
while i < 10 :
  print(" the number is", i)
  i+= 1

 the number is 0
 the number is 1
 the number is 2
 the number is 3
 the number is 4
 the number is 5
 the number is 6
 the number is 7
 the number is 8
 the number is 9

In [ ]:
i = 0
while i < 10 :
  pass
 
  i+= 1

In [ ]:
i = 0
while i < 10 :
  i+= 1
  if  i == 5:
    continue
  print("The number is ",i)

The number is  1
The number is  2
The number is  3
The number is  4
The number is  6
The number is  7
The number is  8
The number is  9
The number is  10

In [ ]:
i = 0
while i < 10 :
  i+= 1
  if  i == 5:
    break
  print("The number is ",i)

The number is  1
The number is  2
The number is  3
The number is  4

In [ ]:
i = 0
while i < 10:
  print(" the number is ",i)
  i+=1
else:
  print("the loop has ended")

 the number is  0
 the number is  1
 the number is  2
 the number is  3
 the number is  4
 the number is  5
 the number is  6
 the number is  7
 the number is  8
 the number is  9
the loop has ended

In [ ]:
#########      NESTED LOOPS ##################
# here we can use loop inside a loop one or morethan one times

list1 = [[1,2,3,4],[5,6,7,8]]
print(list1,"\n")

for i in list1:
  for j in i:
    print(f"square of {j} is",j**2)
  print("\n")

[[1, 2, 3, 4], [5, 6, 7, 8]]

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16


square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64

In [ ]:
### print triangular shaped star

n = 6  # number of stars
k = n+1  # number of spaces
for i in range (0,n):
  for j in range(0,k):
    print(" ", end = '')
  k = k - 1       ####      reducing space after each loop
  for j in range (0,i+1):    ####   taking new loop for printing '*'
    print("* ", end = '')
  print("\r")    # after completion of printing "*"   start again from the new line

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [ ]:
###################        DEFINE FUNCTION        ########################
print("Hello world")

Hello world

In [ ]:
def sayhello():
  print("Hello world!")   ###   block belonging to the function
#    end of function    #
sayhello()

Hello world!

In [ ]:
##   not defined any value but defiend  the function
def hell_func():
  pass

In [ ]:
#####   simple function

def hello(name,age,sal):
  print("hi",name, "your age is ", age, "your salary",sal)
hello("nikhil",23,50000)

hi nikhil your age is  23 your salary 50000

In [ ]:
#####     formal and actual arguments   ###########
def add(a,b):
  return a+b
add(2,3)

#  formal arguments are identifiers used in the function definition to represent corresponding actual arguments
# actual arguments are values or variables /expressions that are used inside the paranthesis of a function call

5